<link href="/public/css/markerForm.css" rel="stylesheet">

 <script>
	$(function() {
		$( "#markerForm" ).draggable();
	});
</script>

<div id="markerForm" class="panel panel-default">
	<div class="panel-body">
		<form role="form" class="form-horizontal">
			<fieldset>

				<legend>Monkey Map</legend>

				<div class="form-group">
					<div class="">
						<div class="input-group">
							<span class="input-group-addon">X</span> <input id="markerB"
								name="markerB" class="form-control" placeholder="0.0"
								required="" type="text" ng-model="mapCtrl.currentMarker.x"
								value="{{mapCtrl.currentMarker.x}}" disabled="true">
						</div>

					</div>
				</div>

				<div class="form-group">
					<div class="">
						<div class="input-group">
							<span class="input-group-addon">Y</span> <input id="markerK"
								name="markerK" class="form-control" placeholder="0.0"
								required="" type="text" ng-model="mapCtrl.currentMarker.y"
								value="{{mapCtrl.currentMarker.y}}" disabled="true">
						</div>

					</div>
				</div>

				<div class="form-group">
					<div class="">
						<textarea class="form-control" id="Description" name="Description"
							placeholder="description"
							ng-model="mapCtrl.currentMarker.description"
							value="{{mapCtrl.currentMarker.description}}"></textarea>
					</div>
				</div>

				<div class="form-group" style="text-align: center;">
                    <table class="text-center">
					    <tr>
                            <td class="text-left"><h6><strong>Infos :</strong></h6></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="" for="type-0" ><img alt="bleue" src="/public/images/fleche_bleue.png"></label>
                                <br/>
                                <input name="type" id="type-0" value="bleu" type="radio" ng-model="mapCtrl.currentMarker.type">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left"><h6><strong>Ennemis :</strong></h6></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="" for="type-1"><img alt="rouge" src="/public/images/fleche_rouge.png"></label>
                                <br/>
                                <input name="type" id="type-1" value="rouge" type="radio" ng-model="mapCtrl.currentMarker.type">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left"><h6><strong>Alliés :</strong></h6></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="" for="type-2"><img alt="rose" src="/public/images/fleche_rose.png"></label>
                                <br/>
                                <input name="type" id="type-2" value="rose" type="radio" ng-model="mapCtrl.currentMarker.type">
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left"><h6><strong>Fermes sauvages :</strong></h6></td>
                        </tr>
                        <tr>
                            <td>
                                <label class="" for="type-3">
                                <img alt="verte" src="/public/images/fleche_verte.png"></label>
                                <br/>
                                <input name="type" id="type-3" value="vert" type="radio" ng-model="mapCtrl.currentMarker.type">
                            </td>
					    </tr>
                    </table>
				</div>

				<!-- Button -->
				@*<div class="form-group">*@
					@*<div class="" style="text-align: center;" >*@
					@*<button type="submit" id="" name="" class="btn btn-primary">Créer</button>*@
					@*</div>*@
				@*</div>*@

			</fieldset>
		</form>

	</div>
</div>