<!DOCTYPE html>

<html ng-app="aaMap">
    <head>

        <title>MK interactive map</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">

        <link href="/public/css/lib/bootstrap.min.css" rel="stylesheet">
        <link href="/public/css/map.css" rel="stylesheet">

        <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGkojQe13bJyqKH4jCNX2reib_uCXVoM0">
        </script>

        <script src='/public/javascript/lib/angular.min.js'></script>
        <script src='/public/javascript/lib/jquery-2.1.1.min.js'></script>
        <script src='/public/javascript/lib/jquery-dateFormat.min.js'></script>

        <script src='/public/javascript/web.js'></script>

        <script src='/public/javascript/marker.js'></script>
        <script src='/public/javascript/map.js'></script>
        <script src='/public/javascript/main.js'></script>

    </head>
    <body ng-controller="MapController as mapCtrl">

        <div id="map-canvas"></div>

        @views.html.blocks.markerForm()

    </body>
</html>
