<!DOCTYPE html>
<html ng-app="aaMap">
<head>

<title>Simple Map</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">

<link href="/public/css/lib/bootstrap.min.css" rel="stylesheet">
<style>
html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}
</style>

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGkojQe13bJyqKH4jCNX2reib_uCXVoM0">	
</script>

<script src='/public/javascript/lib/angular.min.js'></script>
<script src='/public/javascript/lib/jquery-2.1.1.min.js'></script>

<script src='/public/javascript/main.js'></script>
<script src='/public/javascript/map.js'></script>

<script>
	google.maps.event.addDomListener(window, 'load', myMap.initialize);
</script>
</head>
<body>
	<div id="map-canvas"></div>
	@views.html.blocks.markerForm()
</body>
</html>
