<!DOCTYPE html>
<html>
<head>

<title>Simple Map</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}
</style>

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGkojQe13bJyqKH4jCNX2reib_uCXVoM0">
	
</script>

<script>
	// Definition du type de map
	var aaTypeOptions = {
		getTileUrl : function(coord, zoom) {
			var normCoord = getNormalizedCoord(coord, zoom);
			
			if (!normCoord) {
        		return null;
      		}

			return 'http://fuefib.free.fr/aa/tiles/tile_'+zoom+'_'+normCoord.x+'-'+normCoord.y+'.png'
		},
		tileSize: new google.maps.Size(256, 256),
		maxZoom : 5,
		minZoom : 3,
		name : 'aa'
	};

	var aaMapType = new google.maps.ImageMapType(aaTypeOptions);

	var map;
	function initialize() {

		var myLatlng = new google.maps.LatLng(0, 0);
		var mapOptions = {
			center : myLatlng,
			zoom : 1,
			streetViewControl : false,
			mapTypeControlOptions : {
				mapTypeIds : [ 'aa' ]
			}
		};

		map = new google.maps.Map(document.getElementById('map-canvas'),
				mapOptions);
		map.mapTypes.set('aa', aaMapType);
		map.setMapTypeId('aa');

		google.maps.event.addListener(map, 'click', function(event) {
			placeMarker(event.latLng);
 		});

	}


	// Normalizes the coords that tiles repeat across the x axis (horizontally)
	// like the standard Google map tiles.
	function getNormalizedCoord(coord, zoom) {
	  var y = coord.y;
	  var x = coord.x;
	
	  // tile range in one direction range is dependent on zoom level
	  // 0 = 1 tile, 1 = 2 tiles, 2 = 4 tiles, 3 = 8 tiles, etc
	  var tileRange = 1 << zoom;
	
	  // don't repeat across y-axis (vertically)
	  if (y < 0 || y >= tileRange) {
	    return null;
	  }
	
	  // repeat across x-axis
	  if (x < 0 || x >= tileRange) {
	    return null;
	  }
	
	  return {
	    x: x,
	    y: y
	  };
	}


	function placeMarker(location) {
		var marker = new google.maps.Marker({
			position: location,
			map: map
		});
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>
<body>
	<div id="map-canvas"></div>
</body>
</html>
